@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Galmuri', sans-serif;
}

html,
body {
  height: 100%;
  background-color: gray;
}
